.App {
  text-align: center;
}

.btn {
  display: inline-block;
  margin: 10px;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}

.label {
  margin: 5px;
}

.text {
  margin: 5px;
  width: 120px;
  height: 20px;
}

.textarea {
  margin: 5px;
  width: 200px;
  height: 60px;
}

.form {
  text-align: left;
  padding: 10px;
}